{
  // archival or catchup Algorand node config
  // setup serveral nodes to fetch from the fastest one or failover
  "algod": {
    "nodes": [
      {
        "id": "private-node",
        "address": "http://localhost:8180",
        "token": "..."
      },
      {
        "id": "AlgoNode",
        "address": "http://mainnet-api.algonode.network",
      }

    ]
  },

}